:root {
  --hookers-green: #517D75ff;
  --black: #030707ff;
  --cambridge-blue: #84AAA2ff;
  --hookers-green-2: #4A6D67ff;
  --verdigris: #6CB1A7ff;
  --dark-slate-gray: #7ce2d5;
  --deep-blue: #2E86AB;
  --pale-green: #A4C3B2;
  --golden-yellow: #F6AE2D;
  --mint-green: #57CC99;
  --light-gray-blue: #E8F1F2;
  --coral-red: #FF6B6B;
  --charcoal-gray:#333333;
  --light-gray:#D9D9D9;
  --gold: #FFD700;
  --primary-color: #0077B6;
  --secondary-color: #FF6B6B;
  --accent-color: #4CAF50;
  --primiray-color-font: #FFFFFF;
  --secondary-color-font: #444444;
  --accent-color-font: #333333;
  --reseda-green: #878159ff;
  --battleship-gray: #949186ff;
  --silver: #C9CAC6ff;
  --licorice: #281715ff;
  --bistre: #322522ff;
  --pearl: #E1D5B8ff;
  --ecru: #C9BA93ff;
  --umber: #706051ff;
  --licorice-2: #2B1D19ff;
  --coffee: #694F34ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
  list-style: none;
  text-decoration: none;
  color: var(--black);
}

html {
  scroll-behavior: smooth;
}

.header {
  position: fixed;
  width: 100%;
  padding: 2% 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-color);
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  z-index: 1000;
}
.header .logo img {
  width: 144px;
  transition: 0.5s;
  opacity: 0;
  animation: slideTop 1s ease forwards;
}
.header .navlist {
  display: flex;
}
.header .navlist a {
  display: inline-block;
  margin-left: 32px;
  border-bottom: 2px solid transparent;
  font-size: 24px;
  transition: 0.5s;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.header .navlist a:hover {
  color: rgb(109, 36, 109);
  border-bottom: 2px solid white;
}
.header .icons-header {
  display: flex;
}
.header .icons-header i {
  margin: 0px 8px;
  font-size: 40px;
  transition: 0.5s;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.header .icons-header i:hover {
  color: rgb(109, 36, 109);
}
.header .icons-header .i-wrapper {
  transition: 0.5s;
}
.header .icons-header .i-wrapper:hover {
  transform: translateY(-8px);
}
.header .button-menu {
  display: none;
  font-size: 36px;
  cursor: pointer;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.8s;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: wheat;
}
.hero .home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/home-bg-new.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.5s;
  position: relative;
  z-index: -1;
}
.hero .home .blur {
  position: absolute;
  backdrop-filter: blur(3px);
  height: 100%;
  width: 100%;
  z-index: -2;
}
.hero .home .home-bg {
  width: 80%;
  height: 70vh;
  background: url(../img/home-bg-new.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .home .home-bg .home-content-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.hero .home .home-bg .home-content-container .blur2 {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .home .home-bg .home-content-container .home-content-left {
  width: 80%;
  padding: 1%;
}
.hero .home .home-bg .home-content-container .home-content-left h1 {
  font-size: 56px;
}
.hero .home .home-bg .home-content-container .home-content-left p {
  font-size: 32px;
}
.hero .home .home-bg .home-content-container .home-content-right {
  width: 200px;
  height: 100px;
  padding: 1%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
  text-align: center;
}
.hero .home .home-bg .home-content-container .home-content-right .h1-container-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.hero .home .home-bg .home-content-container .home-content-right .h1-container-1 h1 {
  line-height: 6px;
  height: 35px;
  font-size: 64px;
}
.hero .home .home-bg .home-content-container .home-content-right .h1-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.hero .home .home-bg .home-content-container .home-content-right .h1-container-2 h1 {
  font-size: 40px;
}
.hero .home .home-bg .home-content-container .home-content-right p {
  font-size: 24px;
}
.hero .about-us {
  width: 100%;
  height: 400px;
  padding: 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  background: var(--pearl);
}
.hero .about-us .about-us-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 25%;
  height: 300px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border: 0.5px solid rgb(209, 209, 209);
  border-radius: 10%;
  opacity: 0;
  animation: slideTop 2s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.hero .about-us .line {
  width: 80px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border: 0.5px solid rgb(209, 209, 209);
  opacity: 0;
  animation: slideBottom 2s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.hero .realization {
  width: 100%;
  height: 1400px;
  padding: 2% 10%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: var(--pearl);
}
.hero .realization .modal {
  width: 80%;
  height: 80vh;
  position: fixed;
  z-index: 10;
  display: none;
  align-items: center;
  overflow: clip;
  top: 55%;
  left: 50%;
  translate: -50% -50%;
  animation: showModalFromTop 0.8s ease normal;
}
.hero .realization .modal .modal-content {
  display: flex;
  justify-content: space-around;
  flex-shrink: 0;
  animation: marquee 16s linear infinite;
}
.hero .realization .modal .modal-content img {
  width: 500px;
  height: 600px;
  padding: 0 16px;
}
.hero .realization .realization-box {
  width: 30%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.hero .realization .realization-box img {
  width: 100%;
  height: 400px;
  transition: 0.5s;
}
.hero .realization .realization-box img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.hero .realization .realization-box p {
  background-color: 0;
  position: absolute;
}
.hero .contact {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}
.hero .contact .contact-form {
  padding: 2%;
  width: 64%;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
}
.hero .contact .contact-form .contact-name-email-box {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
}
.hero .contact .contact-form .contact-name-email-box #fname, .hero .contact .contact-form .contact-name-email-box #femail {
  width: 50%;
  height: 40px;
}
.hero .contact .contact-form #fmessage {
  width: 100%;
  height: 300px;
}/*# sourceMappingURL=style.css.map */